.toolbar {
  background: #e1e0e4;
  border-bottom: 1px solid black;
}

.create-profile-main-container {
  max-width: 800px;
}

.create-profile-main-container form {
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  background: #efeff1;
  max-width: 800px;
}

.navNextBtn {
  background: #1ebad6;
  border-radius: 2px;
}

.spacer {
  height: 100px;
}

.superpowers-row {
  margin-top: 20px;
}

.power-card {
  border-radius: 10px;
}

.right-nav-list a {
  margin-left: 10px;
}