.toolbar {
  background: #e1e0e4;
  border-bottom: 1px solid black;
}

.create-profile-main-container {
  max-width: 550px;
}

.create-profile-main-container form {
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
}