.toolbar {
  background: #e1e0e4;
  border-bottom: 1px solid black;
}

.create-profile-main-container {
  max-width: 800px;
}

.create-profile-main-container form {
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  background: #efeff1;
  max-width: 800px;
}

.navNextBtn {
  background: #1ebad6;
  border-radius: 2px;
}

.spacer {
  height: 100px;
}

.superpowers-row {
  margin-top: 20px;
}

.power-card {
  border-radius: 10px;
  min-height: 200px;
}

.power-card:hover {
  background: #f2f2f4;
}

.power-card-selected {
  border-radius: 10px;
  min-height: 200px;
  
  background: #17b29826;
  border: 1px solid #17b298;
}

.right-nav-list a {
  margin-left: 10px;
}

.selected-skill {
  display: inline-block;
  background: #1ebad6;
  color: white;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 10px 0 0;
}

.selected-skill span {
  margin-right: 3px;
}

.skillsContainer > div {
  margin-bottom: 30px;
}